.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  form{
    display: flex;
    flex-direction: column;
    align-items: center;

    label{
      display: flex;
      flex-direction: column;
      font-weight: bold;
      margin-top: 20px;


      span{
        color: #FFF;
        font-weight: bold;
        font-size: 12px;
        word-break: break-word;
        width: 300px;
        margin-left: 15px;
      }
    }

    input{
      width: 350px;
      height: 40px;
      border-radius: 10px;
      margin-bottom: 10px;
      padding-left: 10px;
      margin-top: 10px;

      &::placeholder{
        color: #000;
        font-size: 15px;
        font-weight: bold;
      }
    }

    button{
      margin-bottom: 30px;
      margin-top: 15px;
    }
  }
}

.btnIcons {
  border: none;
  position: absolute;
  display: flex;
  margin-left: 300px;
  padding-top: 260px;
  width: 10px;
  height: 10px;
  background: transparent;
  cursor: pointer;

  i{
    font-size: 20px;
    color: #000;
  }

  &:hover{
    background-color: transparent;
  }

}
