.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  form{
    display: flex;
    flex-direction: column;
    align-items: center;

    input{
      width: 300px;
      height: 40px;
      border-radius: 10px;
      margin-bottom: 30px;
      padding-left: 10px;

      &::placeholder{
        color: #000;
        font-size: 15px;
        font-weight: bold;
      }
    }

    button{
      margin-bottom: 30px;
    }

    .accountBtn{
      border: 0;
      background: transparent;

      &:hover{
        color: red;
      }
    }
  }
}